<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="apple-touch-icon" sizes="76x76" href="{{ config.ASSETS_ROOT }}/img/apple-icon.png">
    <link rel="icon" type="image/png" href="{{ config.ASSETS_ROOT }}/img/favicon.png"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>
        RPS Profile Interface - {% block title %}{% endblock %}
    </title>

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

    {% if config["rps_header_url"] %}
        <script src="{{config["rps_header_url"]}}"></script>
    {% endif %}
        
</head>
<body class="">
    {% if config["rps_header_url"] %}
        <div class="rps-header">
        </div>
    {% endif %}

    <div class="wrapper">

        <div class="container">

            {% block content %}{% endblock content %}
        </div>

    </div>

    <!-- Javascript  -->
    <!-- <script src="{{ config.ASSETS_ROOT }}/js/jquery-3.6.4.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/bootstrap.bundle.min.js"></script> -->

    <script>
    
    </script>

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
