
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.xheadline {
  font-size: 1.125rem;
  line-height: 1.25rem; 
  text-align: center;
}

.instruction {
  font-size: 1.125rem;
  line-height: 1.25rem; 
  text-align: center;
}

h1{
  color: blue;
  background: #DEEBF7;
  padding: 0.5em;
  text-align:center

}
h2{
  
  padding: 0.5em;
  text-align:center

}
.jcurrent {
  display: none;
  background-color: #DEEBF7;
  font-size: 15px;
}

 #index a {
  color: inherit;
 }
    
 .debug_toolbar {
  display: none;
 }


table.xtable {
  width:90%; 
  margin-left: auto;
  margin-right: auto;
}

table.xtable td {
  padding: 5px;

}

.type-html-998 {
  margin-bottom: 0px;
  padding-bottom: 0px;    
  margin-top: 0px;
  padding-top: 0px;   
}  

th
{
display: table-cell;
text-align: center;
color: white;
position: sticky;
top: 0;
z-index: 1000;
/* font-size: 25px; */
/* height: 45px; */
height: 10px;
padding: 5px;
}


.is-false .false {
  display: block;
}

.is-true .true {
  display: block;
}

.is-jcurrent .jcurrent {
  display: block;
}

.dos {
  width: 40%;
}

.six {
  width: 11%;
}
 
tr:nth-child(even) {
background-color: #F1F1F1;;
}

/* table#index {
  display: none;
} */

table#index.ready {
  display: table;
}
  .ignored {
  display: none;
  color: grey;
  text-align: center;
  font-size: 15px;
}

  .is-ignored .ignored {
  display: block;
  color: gray;
  background: gainsboro;
}