:root {
    /* text variables */
    --text-font: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --title-font-size: 2rem;
    --title-line-height: 1.125;
    
    /* padding and margin variables */
    --input-padding-y: calc(.5em - 1px);
    --input-padding-x: calc(.75em - 1px);
    --card-content-padding: 0.25rem auto 0.25rem auto;
    --publi-padding: 1.25em 0 0 1.5em;
    
    /* Colors of the page and opacity */
    --main-page-color: #ffffff;
    --secondary-page-color: #00c4a7;
    --input-background-color: #fff;
    --card-publi-color: #f5f5f5;
    --input-border-color: #dbdbdb;
    --title-color: #363636;
    --text-card-color: #4a4a4a;
    --content-text-color: #0a0a0a;
    --danger-color: #f03a5f;
    --dropdown-hover-color: #646464;

    /* borders, widths and heights */
    --input-border: 1px solid transparent;
    --card-radius: 0.25rem;
    --card-content-min-height: 100px;
    --card-footer-border-top: 1px solid #ededed;

    /* shadows */
    --input-box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, .05);
    --card-publi-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);

    /* values */

    /* cursor */
    --pointer: pointer;
}   

body{
    font-family: var(--text-font);
    margin: 0;
}
.my-card, .my-card-hidden, .my-profile{
    background-color: var(--card-publi-color);
    border-radius: var(--card-radius);
    box-shadow: var( --card-publi-shadow);
    color: var(--text-card-color);
    max-width: 100%;
    position: relative;
}

.my-card-hidden{
    opacity: 0.5;
}

.my-profile{
    padding: 1em 2em;
}

.my-card-content{
    min-height: var(--card-content-min-height);
    border-top-right-radius: var(--card-radius);
    border-top-left-radius: var(--card-radius);
    display: flex;
    padding: var(--card-content-padding);
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.my-content{
   font-size: 1rem;
   color: var(--content-text-color);
   padding: 0 0.75rem 0;
   text-align: center;
}

.my-card-footer{
    border-bottom-left-radius: var(--card-radius);
    border-bottom-right-radius: var(--card-radius); 
    border-top: var(--card-footer-border-top);
    align-items: stretch;
    display: flex;
}

.my-footer-item{
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    padding: 0.75rem;
    margin: 0;
}

.my-publication, .my-publication-hidden{
    background-color: var(--card-publi-color);
    border-radius: 4px;
    font-size: 1rem;
    position: relative;
    padding: 0;
    box-shadow: var(--card-publi-shadow);
    display: block;
    margin-bottom: 0.75rem;

}

.my-publication-hidden{
    opacity: 0.5;
}

.publication-body{
    padding: var(--publi-padding);
    color: var(--content-text-color);
    border-radius: 4px;
    border-width: 0 0 0 4px;
    border-color: var(--input-border-color);;
    border-style: solid;
}
.my-title, .profile-title{
    color: var(--title-color);
    font-size: var(--title-font-size);
    font-weight: 600;
    line-height: var(--title-line-height);
    word-break: break-word;
    text-align: justify;
    margin: 0;
}

.profile-title{
    text-align: center;
}

.date{
    color: var(--text-card-color);
    font-weight: 400;
    font-style: italic;
    font-size: 0.75rem;
    margin: 0;
    width: 8%;
    display: flex;
    justify-content: end;
    align-items: start;
}

.title-date{
    width: 98%;
    display: flex;
}

.my-mb{
    margin-bottom: 0.5rem;
}

.toggle{
    color: var(--text-card-color);
    align-items: center;
    background-color: var(--card-publi-color);
    border-radius: 4px;
    display: inline-flex;
    height: 2.5em;
    justify-content: center;
    line-height: var(--title-line-height);
    padding: 0 0.75rem 0;
    white-space: nowrap;
    font-weight: 600;
    font-size: 0.75rem;
    text-decoration: underline;
    cursor: pointer;
}

.mesh-terms-tags, .authors-tags{
    align-items: center;
    border-radius: 4px;
    font-size: 0.75rem;
    display: inline-flex;
    height: 2.5em;
    justify-content: center;
    line-height: var(--title-line-height);
    padding: 0 0.75rem 0;
    white-space: nowrap;
    margin: 4px;
}

.mesh-terms-tags{
    background-color: var(--input-border-color);
}

.authors-tags{
    background-color: var(--input-background-color);
}

.blank{
    color: currentColor;
    text-decoration: underline;
    padding: 0.25rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
    width: fit-content;
}

.DOI{
    font-family: monospace;
    font-weight: 700;
    font-size: 0.75rem;
}

.link{
    color: currentColor;
    font-size: 0.75rem;
}

.my-image, .sidebar-image{
    display: block;
    position: relative;
}

.sidebar-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    padding: 0 5px;
}

.sidebar-text{
    font-size: 1rem;
    font-weight: lighter;
    word-break: break-word;
}

.my-image{
    max-width: 220px;
}

figure.sidebar-image {
    margin: auto;
    width: 100%;
    max-width: 180px;
}

.my-img{
    position: relative;
    height: auto;
    width: 100%;
    border-radius: 100%;
    display: inline-block;
    object-fit: cover;
    border: solid 2px var(--input-border-color);
}

.rounded-full{
    border-radius: 50%;
}

.sidebar-title{
    text-align: center;
    color: var(--title-color);
    font-weight: 500;
    word-break: break-word;
    margin: 0;
    font-size: 1.5rem;
    width: 100%;
}

.sidebar-btn{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 25%;
    right: 5%;

}

.my-display{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.info-display{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.info-item{
    width: 30%;
    margin: 2% 0 2%;
}

.sidebar-item{
    width: 100%;
    margin: 2% 0 2%;
    word-break: break-word;
}

.multi-item{
    width: 100%;
    margin: 1% 0;
}

.profileBtn{
    position: absolute;
    bottom: 10%;
    right: 0%;
}

.my-button, .delete-button, .search-button{
    color: var(--input-background-color);
    padding: 0 1em 0;
    display: inline-flex;
    margin: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    font-size: 1rem;
    width: 100%;
    height: 2.5em;
    line-height: var(--title-line-height);
    text-align: center;
    white-space: nowrap;
}

.my-button, .search-button{
    background-color: var(--secondary-page-color);
}

.search-button{
    border-radius: 0 4px 4px 0;
}

.delete-button{
    background-color: var(--danger-color);
}

.my-button:hover, .search-button:hover, .delete-button:hover{
    border: 1px solid var(--input-border-color);
} 

.my-label{
    color: var(--title-color);
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.my-subtitle{
    color: var(--text-card-color);
    font-weight: 400;
    font-size: 1rem;
    line-height: var(--title-line-height);
    word-break: break-word;
}

.my-input, .search-input{
    box-shadow: var(--input-box-shadow);
    width: 100%;
    max-width: 100%;
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    padding: var(--input-padding-y) var(--input-padding-y) var(--input-padding-y);
    font-size: 1rem;
    height: 2.5em;
    color: var(--title-color);
}

input:focus{
    outline: none;
    border: 3px solid var(--input-border-color);
}

::placeholder{
    color: var(--input-border-color);
}

.search-input{
    border-radius: 4px 0 0 4px;
}

.mini-text{
    color: var(--secondary-page-color);
    display: block;
    font-size: 0.75rem;
    margin-top: 0.25rem 0 0;
    padding: 0;
}

.cont{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.my-svg{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: var(--input-border-color);
    z-index: 1;
}

.back{
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: var(--title-color);
}

.big-title{ 
    font-size: 10em;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.user-not-found{
    font-size: 2em;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.back-button{
    width: 33.33333%;
    padding: 0.5rem;
    background-color: var(--secondary-page-color);
    color: var(--main-page-color);
    border-radius: 4px;
    border-style: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}


.dropdown-menu, .dropdown-content{
    background-color: var(--text-card-color);
}

.dropdown-item{
    color: white;
}

a.dropdown-item:hover {
    background-color: var(--dropdown-hover-color);
    color: white;
}

.projects-tags, .organisations-tags, .fosa-tags {
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 0.75rem;
    justify-content: center;
    line-height: var(--title-line-height);
    padding: 0.5rem;
    white-space: wrap;
    margin: 4px;
    word-break: break-word;
}

.projects-tags{
    background-color: var(--input-border-color);
}

.organisations-tags{
    background-color: var(--dropdown-hover-color);
    color: white;
}

.fosa-tags{
    background-color: var(--secondary-page-color);
    color: white;
}

.editImageSummary{
    width: 40px;
    height: 40px;
}

.edit-information{
    width: 50px;
    height: 25px;
    color: white;
    background-color: var(--title-color);
    border-radius: 6px;
    cursor: pointer;
    margin: 0 10px;
}

.edit-information:hover{
    background-color: var(--dropdown-hover-color);
}

/* Estilo para el scrollbar */
.modal-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Estilo para el thumb del scrollbar */
  .modal-content::-webkit-scrollbar-thumb {
    background-color: var(--input-border-color);
    border-radius: 10px;
  }
 
  /* Estilo para el track del scrollbar */
  .modal-content::-webkit-scrollbar-track {
    background-color: transparent;
  }

.side-publication {
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: #00618f;
    color: white;
    padding: 0.2rem;
    border-radius: 4px;
    margin: 4px;
}

.side-publication-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0;
}

.my-counter{
    width: 25%;
    background-color: #e5f1ef;
    padding: 8px;
    border-radius: 2100px;
    color: #02917c;
    margin-bottom: 5px;
    text-align: center;
}