<div class="container">
  <div class="columns" id="personalinfo">
    <div class="my-profile column is-one-thirds">
      <div class="my-display">

        <figure class="my-image">
          {% if user.picture is defined  and user.picture|length > 0 %}
          {% set profile_url = databaseURL + user.picture[0].url %}
          <img src="{{ profile_url }}" alt="Image" class="my-img">
          {% else %}
          <img src="{{ url_for('static', filename='defaultPicture.svg') }}" alt="Default Picture"
            class="my-img">
          {% endif %}
          {% if not readonly %}
          <div class="profileBtn">
            <details class="">
              <summary class="editImageSummary rounded-full button has-background-grey-dark has-text-white p-0 m-0">
                <div class="editImageSummaryContent is-flex is-align-items-center">
                  <svg class="image is-16x16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                  </svg>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="profilePictureLoading image is-16x16 is-invisible" style="position:absolute" viewBox="0 0 38 38" stroke="#fff">
                  <g fill="none" fill-rule="evenodd">
                    <g transform="translate(1 1)" stroke-width="3" >
                      <circle stroke-opacity="0" cx="18" cy="18" r="18"/>
                      <path d="M36 18c0-9.94-8.06-18-18-18" stroke="#fff">
                        <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/>
                      </path>
                    </g>
                  </g>
                </svg>
              </summary>
              <div class="dropdown is-active">
                <div class="dropdown-menu">
                  <div class="dropdown-content is-clipped">
                    <a class="dropdown-item">
                      <label >
                        Upload a photo
                        <input class="file-input uploadImageInput" type="file" accept="image/*">
                      </label>
                    </a>
                    <a class="dropdown-item">
                      <label >
                        Delete photo
                        <input class="file-input deleteImageInput" type="submit" value="{{user['_id']}}">
                      </label>
                    </a>
                  </div>
                </div>
              </div>
            </details>
          </div>
          {% endif %}
        </figure>
        <div class="container is-flex is-flex-direction-column is-flex-wrap-wrap is-justify-content-space-between ml-4">
          <h1 class="my-title mt-4" id="titleName"> {{user.title}}
            {{user.last_name}}
            {{user.first_name}} </h1>
    
          <h2 class="my-subtitle is-flex my-4"> 
            <svg fill="#000000" class="image is-16x16 mr-2" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <title>user</title>
              <path d="M4 28q0 0.832 0.576 1.44t1.44 0.576h20q0.8 0 1.408-0.576t0.576-1.44q0-1.44-0.672-2.912t-1.76-2.624-2.496-2.144-2.88-1.504q1.76-1.088 2.784-2.912t1.024-3.904v-1.984q0-3.328-2.336-5.664t-5.664-2.336-5.664 2.336-2.336 5.664v1.984q0 2.112 1.024 3.904t2.784 2.912q-1.504 0.544-2.88 1.504t-2.496 2.144-1.76 2.624-0.672 2.912z"></path>
              </svg> {{user.username}} </h2>
          <h2 class="my-subtitle is-flex my-4">
            <svg fill="#000000" class="image is-16x16 mr-2" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
              <path d="M1920 428.266v1189.54l-464.16-580.146-88.203 70.585 468.679 585.904H83.684l468.679-585.904-88.202-70.585L0 1617.805V428.265l959.944 832.441L1920 428.266ZM1919.932 226v52.627l-959.943 832.44L.045 278.628V226h1919.887Z" fill-rule="evenodd"/>
            </svg> 
            <a href="mailto:{{user.email}}">{{user.email}}</a> 
          </h2>
          <h2 class="my-subtitle is-flex my-4">
            <svg class="image is-16x16 mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="24" height="24" fill="none"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M2.14089 4.4021C2.34025 2.92963 3.63956 2 4.99004 2H7.55848C8.84977 2 9.99619 2.82629 10.4045 4.05132L11.454 7.19963C11.905 8.55283 11.1086 10.0036 9.72482 10.3496C9.38646 10.4342 9.26975 10.8555 9.51637 11.1022L12.8978 14.4836C13.1445 14.7303 13.5658 14.6135 13.6504 14.2752C13.9964 12.8914 15.4472 12.095 16.8004 12.546L19.9487 13.5955C21.1737 14.0038 22 15.1502 22 16.4415V19.01C22 20.3604 21.0704 21.6598 19.5979 21.8591C18.9114 21.9521 18.211 22 17.5 22C8.93959 22 2 15.0604 2 6.5C2 5.78898 2.04794 5.08863 2.14089 4.4021Z" fill="#323232"/>
              </svg> <p id="phoneNumber">{{user.phone}}</p></h2>
        </div>
      </div>

      <div class="container is-flex is-align-items-center">
        <div class="my-title">General information</div>
        {% if not readonly %} 
        <div id="modal-js-example" class="modal">
          <div class="modal-background"></div>
        
          <div class="modal-content">
            <div class="box">
              
        <div class="columns is-multiline">
          <div class="column is-full">
            <form id="personal-info-form">
              <div class="columns is-multiline">
                
                {% for value in config.order %}

                {% set column = value["name"] %}
                {% set temp = loop.index%}





                {% if value['type'] == 'boolean' %}
                <div class="column is-half">
                  <label class="my-label">{{ value['display_name'] }}</label>
                  <input type="checkbox" name="{{temp}}" {% if value %}checked{% endif %}>
                </div>
                {% elif value['type'] == 'text' %}
                <div class="column is-half">
                  {% if value['readonly'] or readonly%}
                  <label class="my-label">{{ value['display_name'] }}</label>
                    {% if value['name'] == 'email' %}
                    <div class="control">
                      <a href="mailto:{{ user[value.name] }}?subject=Subject%20line&body=Body%20text">
                        <p class="my-subtitle" title="this field is in read only mode" readonly>{{ user[value.name] }}
                        </p>
                      </a>
                    </div>
                    {% elif value['name'] == 'phone' %}
                    <div class="control">
                      <a href="tel:{{ user[value.name] }}">
                        <p class="my-subtitle" title="this field is in read only mode" readonly>{{ user[value.name] }}
                        </p>
                      </a>
                        
                      
                    </div>
                    {%else%}
                    <div class="control">
                      <p class="my-subtitle" title="this field is in read only mode" readonly>{{ user[value.name] }}
                      </p>

                      
                    </div>
                    {%endif%}
                  {% else %}
                  <label class="my-label">{{ value['display_name'] }}</label>
                  <div class="control ">
                    <input class="my-input" type="text" placeholder="Tell us more about you?" id="{{value.name}}"
                      name="{{ value.name }}" value="{{ user[value.name] }}"
                      title="Inforamation will be saved by clicking on save button">
                    {{lookups[value["db_name"]]}}
                  </div>
                  {% endif %}
                </div>

                {% elif value['type'] == 'list' %}
                <div class="column is-full">
                  <label class="my-label">{{ value['display_name'] }}</label>
                        
                    <div class="container control has-icons-left has-icons-right">
                      <p id='{{value["name"]}}' class="control is-success">
                        <select name='{{value["name"]}}' multiple >
                          {% for row in lookups[value["db_name"]]["rows"] %}
                          <option label="{{row.name}}" value="{{ row._id }}" {% if row['is_selected'] %} selected {% endif %}>{{
                            row.name }}
                          </option>
                          {% endfor %}
                        </select>
                      </p>
                    </div>
                  <p class="mini-text">You can add multipple items above {{lookup_itemm}}</p>

                </div>
                {% else%}
                <label class="my-label">{{ value['display_name'] }}</label>
                <input class="my-input" type="text" value="{{ value }}" readonly />
                {% endif %}

                {% endfor %}
              </div>
              {% if not readonly %}
            
                <hr>
                <div class="column is-half
                    is-offset-one-quarter  is-centered">
                  
                  <button id="updateprofile" class="my-button Buttonsavechanges" user_id="{{user["
                    _id"]}}" onclick=""><span id="saveTextBtn">Save</span>
                    <svg xmlns="http://www.w3.org/2000/svg" id="loading" class="loading image is-16x16" style="display:none" viewBox="0 0 38 38" stroke="#fff">
                      <g fill="none" fill-rule="evenodd">
                          <g transform="translate(1 1)" stroke-width="3" >
                              <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                              <path d="M36 18c0-9.94-8.06-18-18-18" stroke="#000">
                                  <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/>
                              </path>
                          </g>
                      </g>
                    </svg>
                </button>
                  
                </div>
              {% endif %}
            </form>
          </div>
        </div>
            </div>
          </div>
        
          <button class="modal-close is-large" aria-label="close"></button>
        </div>
          <button class="js-modal-trigger edit-information" data-target="modal-js-example">
            Edit
          </button>
        {% endif %}
      </div>
      <div class="container is-flex is-justify-content-start">
        <div class="info-display">
          <div class="info-item">
            <label class="my-label">Anrede</label>
            <p class="my-subtitle" id="anrede">{{user.form_of_address}}</p>
          </div>
          <div class="info-item">
            <label class="my-label">uuid</label>
            <p class="my-subtitle">{{user.uuid}}</p>
          </div>
          <div class="info-item">
            <label class="my-label">Function</label>
            <p class="my-subtitle" id="function">{{user.function}}</p>
          </div>
          <div class="info-item">
            <label class="my-label">Orcid ID</label>
            <p class="my-subtitle">{{user.orcid}}</p>
          </div>
          <div class="info-item">
            <label class="my-label">Department</label>
            <p class="my-subtitle" id="departments">{{user.department}}</p>
          </div>
          <div class="info-item">
            <label class="my-label">Job title</label>
            <p class="my-subtitle" id="jobTitle">{{user.organisation_job}}</p>
          </div>
          <div class="multi-item">
            <label class="my-label" id="project">Projects</label>
            {% for item in user.projects %}
              <span class="projects-tags">{{item.name}}</span>
            {% endfor %}
          </div>
          <div class="multi-item">
            <label class="my-label" id="organisations">Organisations</label>
            {% for item in user.organisations %}
              <span class="organisations-tags">{{item.name}}</span>
            {% endfor %}
          </div>
          <div class="multi-item">
            <label class="my-label" id="fosa">FOSA member</label>
            {% for item in user.fosa %}
              <span class="fosa-tags">{{item.name}}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>
    $(document).ready(function () {
      $('#personalinfo select').selectize({
        plugins: ['remove_button'],
        delimiter: ','
      });
      for (let i = 0; i < $('#personalinfo #select-locked').length; i++) {
        $('#personalinfo #select-locked')[i].selectize.lock();
      }

    });

    function get_value(element) {
      const inputElement = document.getElementById(element);
      // Check if the element exists
      if (inputElement && typeof inputElement.value === "string") {
        // If the element exists, get its value
        const inputValue = inputElement.value;
        console.log(inputValue);
        return inputValues;
      } else {
        // If the element doesn't exist, get all elements with tag name "input"
        const inputElements = document.getElementById(element).getElementsByClassName('selectized')[0].getElementsByTagName("option");
        console.log('inputElements');
        // Loop through all input elements and store their values in an array
        const inputValues = [];
        for (let i = 0; i < inputElements.length; i++) {
          inputValues.push(inputElements[i].value);
        }
        console.log('project');
        console.log(inputValues);
        return inputValues;
      }

    };

    //modal from bulma css
    document.addEventListener('DOMContentLoaded', () => {
  // Functions to open and close a modal
  function openModal($el) {
    $el.classList.add('is-active');
  }

  function closeModal($el) {
    $el.classList.remove('is-active');
  }

  function closeAllModals() {
    (document.querySelectorAll('.modal') || []).forEach(($modal) => {
      closeModal($modal);
    });
  }

  // Add a click event on buttons to open a specific modal
  (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
    const modal = $trigger.dataset.target;
    const $target = document.getElementById(modal);

    $trigger.addEventListener('click', () => {
      openModal($target);
    });
  });

  // Add a click event on various child elements to close the parent modal
  (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
    const $target = $close.closest('.modal');

    $close.addEventListener('click', () => {
      closeModal($target);
    });
  });

  // Add a keyboard event to close all modals
  document.addEventListener('keydown', (event) => {
    const e = event || window.event;

    if (e.keyCode === 27) { // Escape key
      closeAllModals();
    }
  });
});
  </script>