{% extends "layouts/base.html" %}

{% block title %}
	Homepage
{% endblock %}


{% block content %}
	<div class="row">
        <div class="col-md-12">
            <h1>RPS Profile</h1>
            <form id="orcid-search"> 
                <input type="text" name="orcid" placeholder="ORCID ID" />
                <button submit onclick="submit_form(event)">Search</button>
            </form>
            <div>
                {{request}}
                {{request.headers}}
                
            </div>
        </div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function submit_form(event) {
        event.preventDefault(); // Prevents the form from submitting normally

        var orcid = $(document).find('input[name="orcid"]').val(); 
        console.log(orcid);
        window.location.href='/profile/' + orcid;
    }
</script>

{% endblock javascripts %}
