<div class="container">
    {% if not readonly %} 
    <div class="select is-normal mb-4">
        <select id="meshTermSelect">
            <option value="1">All mesh terms</option>
            <option value="2">Active mesh terms</option>
            <option value="3">Hidden mesh terms</option>
        </select>
    </div>
    {% endif %}
    <div>
        <div class="field has-addons mb-4">
            <div class="control is-expanded">
                <input
                    id="searchMeshTermsInput"
                    class="search-input"
                    type="text"
                    placeholder="Search mesh term..."
                />
            </div>
            <div class="control">
                <button type="submit" class="search-button">Search</button>
            </div>
        </div>
    </div>
    <p class="title" id="meshTermTitle">Popular mesh terms</p>
    <div class="columns is-multiline">
        {% set sort_mesh_terms_user = user.mesh_term_user | sort(attribute='count', reverse=True) %} 
        {% set first_six = [] %}
        {% set rest = [] %}
        {% set hiddens = [] %}
        {% set counter = namespace(c = 0) %}

        {% for item in sort_mesh_terms_user %}
            {% if item["is_hidden"] != True %}
                {% if counter.c < 6 %}
                    {% set _ = first_six.append(item) %}
                {% else %}
                    {% set _ = rest.append(item)%}
                {% endif %}
                {% set counter.c = counter.c + 1 %}
            {% else %}
                {% set _ = hiddens.append(item) %}
            {% endif %}
        {% endfor %}

        {% for item in first_six %}
        <div class="meshTermCard column is-2-desktop" data-value="Shown">
            <div class="my-card">
                <div
                    class="my-card-content"
                >
                    <div class="my-content">
                        {{item["mesh_term"][0]["primaryDisplay"]}}
                    </div>
                </div>
                <footer class="my-card-footer">
                    <p class="card-footer-item py-1">
                        {{item.count}}
                    {% if not readonly %} 
                    </p>
                    <p class="card-footer-item py-1">
                        <button
                            id="{{item['_id']}}"
                            class="ChangeMeshTermVisibility button is-ghost"
                            value="true"
                        >
                            <svg
                                class="openEye"
                                width="20px"
                                height="20px"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M6.30147 15.5771C4.77832 14.2684 3.6904 12.7726 3.18002 12C3.6904 11.2274 4.77832 9.73158 6.30147 8.42294C7.87402 7.07185 9.81574 6 12 6C14.1843 6 16.1261 7.07185 17.6986 8.42294C19.2218 9.73158 20.3097 11.2274 20.8201 12C20.3097 12.7726 19.2218 14.2684 17.6986 15.5771C16.1261 16.9282 14.1843 18 12 18C9.81574 18 7.87402 16.9282 6.30147 15.5771ZM12 4C9.14754 4 6.75717 5.39462 4.99812 6.90595C3.23268 8.42276 2.00757 10.1376 1.46387 10.9698C1.05306 11.5985 1.05306 12.4015 1.46387 13.0302C2.00757 13.8624 3.23268 15.5772 4.99812 17.0941C6.75717 18.6054 9.14754 20 12 20C14.8525 20 17.2429 18.6054 19.002 17.0941C20.7674 15.5772 21.9925 13.8624 22.5362 13.0302C22.947 12.4015 22.947 11.5985 22.5362 10.9698C21.9925 10.1376 20.7674 8.42276 19.002 6.90595C17.2429 5.39462 14.8525 4 12 4ZM10 12C10 10.8954 10.8955 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8955 14 10 13.1046 10 12ZM12 8C9.7909 8 8.00004 9.79086 8.00004 12C8.00004 14.2091 9.7909 16 12 16C14.2092 16 16 14.2091 16 12C16 9.79086 14.2092 8 12 8Z"
                                    fill="black"
                                />
                            </svg>
                            <svg
                                class="closedEye"
                                width="20px"
                                height="20px"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                style="display: none"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M19.7071 5.70711C20.0976 5.31658 20.0976 4.68342 19.7071 4.29289C19.3166 3.90237 18.6834 3.90237 18.2929 4.29289L14.032 8.55382C13.4365 8.20193 12.7418 8 12 8C9.79086 8 8 9.79086 8 12C8 12.7418 8.20193 13.4365 8.55382 14.032L4.29289 18.2929C3.90237 18.6834 3.90237 19.3166 4.29289 19.7071C4.68342 20.0976 5.31658 20.0976 5.70711 19.7071L9.96803 15.4462C10.5635 15.7981 11.2582 16 12 16C14.2091 16 16 14.2091 16 12C16 11.2582 15.7981 10.5635 15.4462 9.96803L19.7071 5.70711ZM12.518 10.0677C12.3528 10.0236 12.1792 10 12 10C10.8954 10 10 10.8954 10 12C10 12.1792 10.0236 12.3528 10.0677 12.518L12.518 10.0677ZM11.482 13.9323L13.9323 11.482C13.9764 11.6472 14 11.8208 14 12C14 13.1046 13.1046 14 12 14C11.8208 14 11.6472 13.9764 11.482 13.9323ZM15.7651 4.8207C14.6287 4.32049 13.3675 4 12 4C9.14754 4 6.75717 5.39462 4.99812 6.90595C3.23268 8.42276 2.00757 10.1376 1.46387 10.9698C1.05306 11.5985 1.05306 12.4015 1.46387 13.0302C1.92276 13.7326 2.86706 15.0637 4.21194 16.3739L5.62626 14.9596C4.4555 13.8229 3.61144 12.6531 3.18002 12C3.6904 11.2274 4.77832 9.73158 6.30147 8.42294C7.87402 7.07185 9.81574 6 12 6C12.7719 6 13.5135 6.13385 14.2193 6.36658L15.7651 4.8207ZM12 18C11.2282 18 10.4866 17.8661 9.78083 17.6334L8.23496 19.1793C9.37136 19.6795 10.6326 20 12 20C14.8525 20 17.2429 18.6054 19.002 17.0941C20.7674 15.5772 21.9925 13.8624 22.5362 13.0302C22.947 12.4015 22.947 11.5985 22.5362 10.9698C22.0773 10.2674 21.133 8.93627 19.7881 7.62611L18.3738 9.04043C19.5446 10.1771 20.3887 11.3469 20.8201 12C20.3097 12.7726 19.2218 14.2684 17.6986 15.5771C16.1261 16.9282 14.1843 18 12 18Z"
                                    fill="black"
                                />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="loading image is-16x16" style="display:none" viewBox="0 0 38 38" stroke="#fff">
                                <g fill="none" fill-rule="evenodd">
                                    <g transform="translate(1 1)" stroke-width="3" >
                                        <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                                        <path d="M36 18c0-9.94-8.06-18-18-18" stroke="#000">
                                            <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/>
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </button>
                    {% endif %}
                    </p>
                </footer>
            </div>
        </div>
        {% endfor %}
    </div>
    <details class="my-4" id="details">
        <summary id="summary"
            class="is-size-5 is-clickable is-underlined has-text-weight-bold mb-1"
        >
            More mesh terms
        </summary>
        <div class="columns is-multiline is-justify-content-center">
            {% for item in rest %}
            <div class="meshTermCard column is-2-desktop" data-value="Shown">
                <div class="my-card">
                    <div
                        class="my-card-content"
                    >
                        <div class="my-content">
                            {{item["mesh_term"][0]["primaryDisplay"]}}
                        </div>
                    </div>
                    <footer class="my-card-footer">
                        <p class="card-footer-item py-1">
                            {{item.count}}
                        </p>
                        {% if not readonly %}
                        <p class="card-footer-item py-1">
                            <button
                                id="{{item['_id']}}"
                                class="ChangeMeshTermVisibility button is-ghost"
                                value="true"
                            >
                                <svg
                                    class="openEye"
                                    width="20px"
                                    height="20px"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M6.30147 15.5771C4.77832 14.2684 3.6904 12.7726 3.18002 12C3.6904 11.2274 4.77832 9.73158 6.30147 8.42294C7.87402 7.07185 9.81574 6 12 6C14.1843 6 16.1261 7.07185 17.6986 8.42294C19.2218 9.73158 20.3097 11.2274 20.8201 12C20.3097 12.7726 19.2218 14.2684 17.6986 15.5771C16.1261 16.9282 14.1843 18 12 18C9.81574 18 7.87402 16.9282 6.30147 15.5771ZM12 4C9.14754 4 6.75717 5.39462 4.99812 6.90595C3.23268 8.42276 2.00757 10.1376 1.46387 10.9698C1.05306 11.5985 1.05306 12.4015 1.46387 13.0302C2.00757 13.8624 3.23268 15.5772 4.99812 17.0941C6.75717 18.6054 9.14754 20 12 20C14.8525 20 17.2429 18.6054 19.002 17.0941C20.7674 15.5772 21.9925 13.8624 22.5362 13.0302C22.947 12.4015 22.947 11.5985 22.5362 10.9698C21.9925 10.1376 20.7674 8.42276 19.002 6.90595C17.2429 5.39462 14.8525 4 12 4ZM10 12C10 10.8954 10.8955 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8955 14 10 13.1046 10 12ZM12 8C9.7909 8 8.00004 9.79086 8.00004 12C8.00004 14.2091 9.7909 16 12 16C14.2092 16 16 14.2091 16 12C16 9.79086 14.2092 8 12 8Z"
                                        fill="black"
                                    />
                                </svg>
                                <svg
                                    class="closedEye"
                                    width="20px"
                                    height="20px"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    style="display: none"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M19.7071 5.70711C20.0976 5.31658 20.0976 4.68342 19.7071 4.29289C19.3166 3.90237 18.6834 3.90237 18.2929 4.29289L14.032 8.55382C13.4365 8.20193 12.7418 8 12 8C9.79086 8 8 9.79086 8 12C8 12.7418 8.20193 13.4365 8.55382 14.032L4.29289 18.2929C3.90237 18.6834 3.90237 19.3166 4.29289 19.7071C4.68342 20.0976 5.31658 20.0976 5.70711 19.7071L9.96803 15.4462C10.5635 15.7981 11.2582 16 12 16C14.2091 16 16 14.2091 16 12C16 11.2582 15.7981 10.5635 15.4462 9.96803L19.7071 5.70711ZM12.518 10.0677C12.3528 10.0236 12.1792 10 12 10C10.8954 10 10 10.8954 10 12C10 12.1792 10.0236 12.3528 10.0677 12.518L12.518 10.0677ZM11.482 13.9323L13.9323 11.482C13.9764 11.6472 14 11.8208 14 12C14 13.1046 13.1046 14 12 14C11.8208 14 11.6472 13.9764 11.482 13.9323ZM15.7651 4.8207C14.6287 4.32049 13.3675 4 12 4C9.14754 4 6.75717 5.39462 4.99812 6.90595C3.23268 8.42276 2.00757 10.1376 1.46387 10.9698C1.05306 11.5985 1.05306 12.4015 1.46387 13.0302C1.92276 13.7326 2.86706 15.0637 4.21194 16.3739L5.62626 14.9596C4.4555 13.8229 3.61144 12.6531 3.18002 12C3.6904 11.2274 4.77832 9.73158 6.30147 8.42294C7.87402 7.07185 9.81574 6 12 6C12.7719 6 13.5135 6.13385 14.2193 6.36658L15.7651 4.8207ZM12 18C11.2282 18 10.4866 17.8661 9.78083 17.6334L8.23496 19.1793C9.37136 19.6795 10.6326 20 12 20C14.8525 20 17.2429 18.6054 19.002 17.0941C20.7674 15.5772 21.9925 13.8624 22.5362 13.0302C22.947 12.4015 22.947 11.5985 22.5362 10.9698C22.0773 10.2674 21.133 8.93627 19.7881 7.62611L18.3738 9.04043C19.5446 10.1771 20.3887 11.3469 20.8201 12C20.3097 12.7726 19.2218 14.2684 17.6986 15.5771C16.1261 16.9282 14.1843 18 12 18Z"
                                        fill="black"
                                    />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="loading image is-16x16" style="display:none" viewBox="0 0 38 38" stroke="#fff">
                                    <g fill="none" fill-rule="evenodd">
                                        <g transform="translate(1 1)" stroke-width="3" >
                                            <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                                            <path d="M36 18c0-9.94-8.06-18-18-18" stroke="#000">
                                                <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/>
                                            </path>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                        </p>
                        {% endif %}
                    </footer>
                </div>
            </div>
            {% endfor %} 
            {% if not readonly %} 
            {% for item in hiddens %}
            <div class="meshTermCard column is-2-desktop" data-value="Hidden">
                <div class="my-card-hidden">
                    <div
                        class="my-card-content"
                    >
                        <div class="my-content">
                            {{item["mesh_term"][0]["primaryDisplay"]}}
                        </div>
                    </div>
                    <footer class="my-card-footer">
                        <p class="card-footer-item py-1">
                            {{item.count}}
                        </p>
                        <p class="card-footer-item py-1">
                            <button
                                id="{{item['_id']}}"
                                class="ChangeMeshTermVisibility button is-ghost"
                                value="false"
                            >
                                <svg
                                    class="openEye"
                                    width="20px"
                                    height="20px"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    style="display: none"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M6.30147 15.5771C4.77832 14.2684 3.6904 12.7726 3.18002 12C3.6904 11.2274 4.77832 9.73158 6.30147 8.42294C7.87402 7.07185 9.81574 6 12 6C14.1843 6 16.1261 7.07185 17.6986 8.42294C19.2218 9.73158 20.3097 11.2274 20.8201 12C20.3097 12.7726 19.2218 14.2684 17.6986 15.5771C16.1261 16.9282 14.1843 18 12 18C9.81574 18 7.87402 16.9282 6.30147 15.5771ZM12 4C9.14754 4 6.75717 5.39462 4.99812 6.90595C3.23268 8.42276 2.00757 10.1376 1.46387 10.9698C1.05306 11.5985 1.05306 12.4015 1.46387 13.0302C2.00757 13.8624 3.23268 15.5772 4.99812 17.0941C6.75717 18.6054 9.14754 20 12 20C14.8525 20 17.2429 18.6054 19.002 17.0941C20.7674 15.5772 21.9925 13.8624 22.5362 13.0302C22.947 12.4015 22.947 11.5985 22.5362 10.9698C21.9925 10.1376 20.7674 8.42276 19.002 6.90595C17.2429 5.39462 14.8525 4 12 4ZM10 12C10 10.8954 10.8955 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8955 14 10 13.1046 10 12ZM12 8C9.7909 8 8.00004 9.79086 8.00004 12C8.00004 14.2091 9.7909 16 12 16C14.2092 16 16 14.2091 16 12C16 9.79086 14.2092 8 12 8Z"
                                        fill="black"
                                    />
                                </svg>
                                <svg
                                    class="closedEye"
                                    width="20px"
                                    height="20px"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M19.7071 5.70711C20.0976 5.31658 20.0976 4.68342 19.7071 4.29289C19.3166 3.90237 18.6834 3.90237 18.2929 4.29289L14.032 8.55382C13.4365 8.20193 12.7418 8 12 8C9.79086 8 8 9.79086 8 12C8 12.7418 8.20193 13.4365 8.55382 14.032L4.29289 18.2929C3.90237 18.6834 3.90237 19.3166 4.29289 19.7071C4.68342 20.0976 5.31658 20.0976 5.70711 19.7071L9.96803 15.4462C10.5635 15.7981 11.2582 16 12 16C14.2091 16 16 14.2091 16 12C16 11.2582 15.7981 10.5635 15.4462 9.96803L19.7071 5.70711ZM12.518 10.0677C12.3528 10.0236 12.1792 10 12 10C10.8954 10 10 10.8954 10 12C10 12.1792 10.0236 12.3528 10.0677 12.518L12.518 10.0677ZM11.482 13.9323L13.9323 11.482C13.9764 11.6472 14 11.8208 14 12C14 13.1046 13.1046 14 12 14C11.8208 14 11.6472 13.9764 11.482 13.9323ZM15.7651 4.8207C14.6287 4.32049 13.3675 4 12 4C9.14754 4 6.75717 5.39462 4.99812 6.90595C3.23268 8.42276 2.00757 10.1376 1.46387 10.9698C1.05306 11.5985 1.05306 12.4015 1.46387 13.0302C1.92276 13.7326 2.86706 15.0637 4.21194 16.3739L5.62626 14.9596C4.4555 13.8229 3.61144 12.6531 3.18002 12C3.6904 11.2274 4.77832 9.73158 6.30147 8.42294C7.87402 7.07185 9.81574 6 12 6C12.7719 6 13.5135 6.13385 14.2193 6.36658L15.7651 4.8207ZM12 18C11.2282 18 10.4866 17.8661 9.78083 17.6334L8.23496 19.1793C9.37136 19.6795 10.6326 20 12 20C14.8525 20 17.2429 18.6054 19.002 17.0941C20.7674 15.5772 21.9925 13.8624 22.5362 13.0302C22.947 12.4015 22.947 11.5985 22.5362 10.9698C22.0773 10.2674 21.133 8.93627 19.7881 7.62611L18.3738 9.04043C19.5446 10.1771 20.3887 11.3469 20.8201 12C20.3097 12.7726 19.2218 14.2684 17.6986 15.5771C16.1261 16.9282 14.1843 18 12 18Z"
                                        fill="black"
                                    />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="loading image is-16x16" style="display:none" viewBox="0 0 38 38" stroke="#fff">
                                    <g fill="none" fill-rule="evenodd">
                                        <g transform="translate(1 1)" stroke-width="3" >
                                            <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                                            <path d="M36 18c0-9.94-8.06-18-18-18" stroke="#000">
                                                <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/>
                                            </path>
                                        </g>
                                    </g>
                                </svg>                              
                            </button>
                        </p>
                    </footer>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </details>
</div>
<script>
    //Search bar
    const allMeshTerms = document.querySelectorAll(".meshTermCard");
    searchMeshTermsInput.addEventListener("change", searchForMeshTerms);
    function searchForMeshTerms() {
        const searchText = searchMeshTermsInput.value.toLowerCase();

        for (let i = 0; i < allMeshTerms.length; i++) {
            const meshTermText = allMeshTerms[i].innerText.toLowerCase();

            if (meshTermText.includes(searchText)) {
                allMeshTerms[i].style.display = "block";
            } else {
                allMeshTerms[i].style.display = "none";
            }
        }
    }

    //Show mesh term
    const ChangeMeshTermVisibility = document.querySelectorAll(".ChangeMeshTermVisibility");
    ChangeMeshTermVisibility.forEach((button) => {
        button.addEventListener("click", (event) => {
            //disable all buttons until the ajax call is finished.
            const allButtons = document.querySelectorAll(".ChangeMeshTermVisibility");
            allButtons.forEach((btn) => {
                btn.disabled = true;
            });

            event.preventDefault();
            event.stopPropagation();
            console.log(button.id, button.value);

            const mesh_term_user_id = button.id;
            const new_value = button.value;
            const loading = button.querySelector(".loading");
            const openEye = button.querySelector(".openEye");
            const closedEye = button.querySelector(".closedEye");

            loading.style.display = "block";
            openEye.style.display = "none";
            closedEye.style.display = "none";

            $.ajax({
                type: "POST",
                url: "/change-mesh-term-visibility",
                data: {
                    mesh_term_user_id: mesh_term_user_id,
                    new_value: new_value,
                },
                success: function (response) {
                    loading.style.display = "none";
                    changeStyleOfCard(button)

                    //enable all the buttons again
                    allButtons.forEach((btn) => {
                        btn.disabled = false;
                    });
                    console.log(response);
                },
                error: function (error) {
                    loading.style.display = "none";
                    if(button.value == "false"){
                        closedEye.style.display = "block";
                    }else{
                        openEye.style.display = "block";
                    }
    
                    //enable all the buttons again
                    allButtons.forEach((btn) => {
                        btn.disabled = false;
                    });
                    console.log(error);
                    
                },
            });
        });
    });
    </script>
      {% if not readonly %}
    <script>
    //Filter
    const mySelect = document.querySelector("#meshTermSelect");
    const title = document.querySelector("#meshTermTitle");
    const details = document.querySelector("#details");

    details.open = true;
    mySelect.addEventListener("change", function () {
        switch (mySelect.value) {
            case "1":
                title.innerHTML = "Popular mesh terms"
                for (let i = 0; i < allMeshTerms.length; i++) {
                    allMeshTerms[i].style.display = "block";
                }
                break;
            case "2":
                title.innerHTML = "Active mesh terms"
                for (let i = 0; i < allMeshTerms.length; i++) {
                    if (allMeshTerms[i].dataset.value == "Shown") {
                        allMeshTerms[i].style.display = "block";
                    } else {
                        allMeshTerms[i].style.display = "none";
                    }
                }
                break;
            
            case "3":
                title.innerHTML = "Hiddens mesh terms"
                for (let i = 0; i < allMeshTerms.length; i++) {
                    if (allMeshTerms[i].dataset.value == "Hidden") {
                        allMeshTerms[i].style.display = "block";
                    } else {
                        allMeshTerms[i].style.display = "none";
                    }
                }
                break;
            default:
        }
    });
    </script>

{%endif%}
<script>
    //change of style on the front end for the user
    function changeStyleOfCard(button) {
        const openEye = button.querySelector(".openEye");
        const closedEye = button.querySelector(".closedEye");
        if (button.value == "false") {
            button.value = "true";
            closedEye.style.display = "none";
            openEye.style.display = "block";
            const parent = button.closest(".my-card-hidden");
            parent.classList.add("my-card");
            parent.classList.remove("my-card-hidden");
            button.closest(".meshTermCard").dataset.value = "Shown";
        } else {
            button.value = "false";
            closedEye.style.display = "block";
            openEye.style.display = "none";
            const parent = button.closest(".my-card");
            parent.classList.add("my-card-hidden");
            parent.classList.remove("my-card");
            button.closest(".meshTermCard").dataset.value = "Hidden";
        }
    }
</script>
