<div class="container">
    <div class="content">
        <div class="field has-addons mb-4">
            <div class="control is-expanded">
                <input
                id="searchPublicationsInput"
                class="search-input"
                type="text"
                placeholder="Search for publication title, mesh-term, author, date..."
                />
            </div>
            <p class="control">
                <button class="search-button">Search</button>
            </p>
        </div>
        <div class="my-counter is-size-7">
            Highlighted publications <span id="TotalHighlightedPublications" class="is-italic has-text-weight-semibold mx-1"></span>            
        </div>
        <div class="columns is-centered">
            <div class="column is-12">
                {% if user.publications is defined and user.publications|length > 0 %}
                <div class="content" id="highlightedPublicationsContainer">

                </div>
                <div class="content" id="publicationsContainer">
                     {% for publication in user.publications %}
                    <div
                        class="{% if publication.is_hidden %}my-publication-hidden{% else %}my-publication{% endif %} publicationCard"
                        highlighted="{{publication.is_highlighted|lower}}"
                        data-value="{% if publication.is_hidden %}Hidden{% else %}Shown{% endif %}"
                    >
                        <div
                            class="publication-body"
                        >
                            <div class="title-date">
                                <h5 class="my-title" style="margin-bottom: 0;">
                                    {{publication.title}}
                                </h5>
                                <div class="date">
                                    {{publication.publishing_date}}
                                </div>
                            </div>
                            {% if publication.mesh_terms is defined and publication.mesh_terms|length > 0 %}
                            <details class="mb-2">
                                <summary class="toggle mb-0 meshTermToggle">Mesh terms ({{publication.mesh_terms|count}}) ▼</summary>
                                <div class="">
                                    {% for mesh_term in publication.mesh_terms %}
                                    <span class="mesh-terms-tags">{{mesh_term.primaryDisplay}}</span>
                                    {% endfor %}
                                </div>
                            </details>
                            {% endif %} {% if publication.authors is defined and publication.authors|length > 0 %}
                            <details>
                                <summary class="toggle">Co-authors ({{publication.authors|count}}) ▼</summary>
                                <div>
                                    {% for author in publication.authors%}
                                    <span class="authors-tags">{{author.primaryDisplay}}</span>
                                    {% endfor %}
                                </div>
                            </details>
                            {% endif %}
                            <div>
                                {% if publication.doi is defined %}
                                <a target="_blank" href="https://doi.org/{{publication.doi}}" class="blank">
                                    <p class="mb-0">
                                        <span class="DOI">DOI:</span>
                                        <span class="link">{{publication.doi}}</span>
                                    </p>
                                </a>
                                {% endif %} {% if publication.pmid is defined %}
                                <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/{{publication.pmid}}" class="blank">
                                    <p class="">
                                        <span class="DOI">PMID:</span>
                                        <span class="link">{{publication.pmid}}</span>
                                    </p>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% if not readonly %} 
                        <div class="p-2" style="position: absolute; bot: 0; right: 0; transform: translateY(-100%)">
                            <button publicationid="{{publication._id}}" class="highlightPublicationButton button py-0 is-size-7">
                                <svg
                                    id="filledStarLogo"
                                    style="pointer-events: none;display:{% if publication.is_highlighted %}block{% else %}none{% endif %}"
                                    class="image is-16x16"
                                    viewBox="0 0 24 24"
                                    fill="#ffbf00"
                                    xmlns="http://www.w3.org/2000/svg"
                                    stroke="#000000"
                                >
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            opacity="0.15"
                                            d="M12 17L6 20L7.5 14L3 9L9.5 8.5L12 3L14.5 8.5L21 9L16.5 14L18 20L12 17Z"
                                            fill="#000000"
                                        ></path>
                                        <path
                                            d="M12 17L6 20L7.5 14L3 9L9.5 8.5L12 3L14.5 8.5L21 9L16.5 14L18 20L12 17Z"
                                            stroke="#000000"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </g>
                                </svg>

                                <svg
                                    id="emptyStarLogo"
                                    style="pointer-events: none;display:{% if publication.is_highlighted %}none{% else %}block{% endif %}"
                                    class="image is-16x16"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    stroke="#000000"
                                >
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            opacity="0.15"
                                            d="M12 17L6 20L7.5 14L3 9L9.5 8.5L12 3L14.5 8.5L21 9L16.5 14L18 20L12 17Z"
                                            fill="#000000"
                                        ></path>
                                        <path
                                            d="M12 17L6 20L7.5 14L3 9L9.5 8.5L12 3L14.5 8.5L21 9L16.5 14L18 20L12 17Z"
                                            stroke="#000000"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </g>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="loading image is-16x16" style="display:none" viewBox="0 0 38 38" stroke="#fff">
                                    <g fill="none" fill-rule="evenodd">
                                        <g transform="translate(1 1)" stroke-width="3" >
                                            <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                                            <path d="M36 18c0-9.94-8.06-18-18-18" stroke="#000">
                                                <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/>
                                            </path>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                            <button publicationid="{{publication._id}}" class="hidePublicationButton button py-0 is-size-7" value="{% if publication.is_hidden %}false{% else %}true{% endif %}">
                                <svg
                                    id="visibilityEyeLogo"
                                    style="display:{% if publication.is_hidden %}block{% else %}none{% endif %}"
                                    class="image is-16x16"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M19.7071 5.70711C20.0976 5.31658 20.0976 4.68342 19.7071 4.29289C19.3166 3.90237 18.6834 3.90237 18.2929 4.29289L14.032 8.55382C13.4365 8.20193 12.7418 8 12 8C9.79086 8 8 9.79086 8 12C8 12.7418 8.20193 13.4365 8.55382 14.032L4.29289 18.2929C3.90237 18.6834 3.90237 19.3166 4.29289 19.7071C4.68342 20.0976 5.31658 20.0976 5.70711 19.7071L9.96803 15.4462C10.5635 15.7981 11.2582 16 12 16C14.2091 16 16 14.2091 16 12C16 11.2582 15.7981 10.5635 15.4462 9.96803L19.7071 5.70711ZM12.518 10.0677C12.3528 10.0236 12.1792 10 12 10C10.8954 10 10 10.8954 10 12C10 12.1792 10.0236 12.3528 10.0677 12.518L12.518 10.0677ZM11.482 13.9323L13.9323 11.482C13.9764 11.6472 14 11.8208 14 12C14 13.1046 13.1046 14 12 14C11.8208 14 11.6472 13.9764 11.482 13.9323ZM15.7651 4.8207C14.6287 4.32049 13.3675 4 12 4C9.14754 4 6.75717 5.39462 4.99812 6.90595C3.23268 8.42276 2.00757 10.1376 1.46387 10.9698C1.05306 11.5985 1.05306 12.4015 1.46387 13.0302C1.92276 13.7326 2.86706 15.0637 4.21194 16.3739L5.62626 14.9596C4.4555 13.8229 3.61144 12.6531 3.18002 12C3.6904 11.2274 4.77832 9.73158 6.30147 8.42294C7.87402 7.07185 9.81574 6 12 6C12.7719 6 13.5135 6.13385 14.2193 6.36658L15.7651 4.8207ZM12 18C11.2282 18 10.4866 17.8661 9.78083 17.6334L8.23496 19.1793C9.37136 19.6795 10.6326 20 12 20C14.8525 20 17.2429 18.6054 19.002 17.0941C20.7674 15.5772 21.9925 13.8624 22.5362 13.0302C22.947 12.4015 22.947 11.5985 22.5362 10.9698C22.0773 10.2674 21.133 8.93627 19.7881 7.62611L18.3738 9.04043C19.5446 10.1771 20.3887 11.3469 20.8201 12C20.3097 12.7726 19.2218 14.2684 17.6986 15.5771C16.1261 16.9282 14.1843 18 12 18Z"
                                        fill="#000000"
                                    />
                                </svg>
                                <svg
                                    id="visibilityEyeOffLogo"
                                    style="pointer-events: none;display:{% if publication.is_hidden %}none{% else %}block{% endif %}"
                                    class="image is-16x16"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M6.30147 15.5771C4.77832 14.2684 3.6904 12.7726 3.18002 12C3.6904 11.2274 4.77832 9.73158 6.30147 8.42294C7.87402 7.07185 9.81574 6 12 6C14.1843 6 16.1261 7.07185 17.6986 8.42294C19.2218 9.73158 20.3097 11.2274 20.8201 12C20.3097 12.7726 19.2218 14.2684 17.6986 15.5771C16.1261 16.9282 14.1843 18 12 18C9.81574 18 7.87402 16.9282 6.30147 15.5771ZM12 4C9.14754 4 6.75717 5.39462 4.99812 6.90595C3.23268 8.42276 2.00757 10.1376 1.46387 10.9698C1.05306 11.5985 1.05306 12.4015 1.46387 13.0302C2.00757 13.8624 3.23268 15.5772 4.99812 17.0941C6.75717 18.6054 9.14754 20 12 20C14.8525 20 17.2429 18.6054 19.002 17.0941C20.7674 15.5772 21.9925 13.8624 22.5362 13.0302C22.947 12.4015 22.947 11.5985 22.5362 10.9698C21.9925 10.1376 20.7674 8.42276 19.002 6.90595C17.2429 5.39462 14.8525 4 12 4ZM10 12C10 10.8954 10.8955 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8955 14 10 13.1046 10 12ZM12 8C9.7909 8 8.00004 9.79086 8.00004 12C8.00004 14.2091 9.7909 16 12 16C14.2092 16 16 14.2091 16 12C16 9.79086 14.2092 8 12 8Z"
                                        fill="#000000"
                                    />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="loading image is-16x16" style="display:none" viewBox="0 0 38 38" stroke="#fff">
                                    <g fill="none" fill-rule="evenodd">
                                        <g transform="translate(1 1)" stroke-width="3" >
                                            <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                                            <path d="M36 18c0-9.94-8.06-18-18-18" stroke="#000">
                                                <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/>
                                            </path>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %} {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {

        // Inline function to transform string "true" to a Boolean true
        const isTrueSet = (value) => value === "true"

        // Publications SearchBar

        function wrapWordWithMark(word) {
            return `<mark class="highlightWord">${word}</mark>`
        }

        // THis function replaces each word searched with the word wrapped in a highlight tag
        function highlightWords(publication, wordsArray){
            const publicationBody = publication.querySelector(".publication-body")
            const oldInnerText = publicationBody.innerText
            let publicationText = publicationBody.innerText
            let indexWordMap = {}
            wordsArray.forEach((word, i) => {
                if(word.length <= 3) return
                // Change text without changing original html tags
                const regex = new RegExp(word, "gi");
                // First we replace by an index
                publicationText = publicationText.replace(regex, (match, p1) => {
                    indexWordMap[`~${i}~`] = wrapWordWithMark(match)
                    return `~${i}~`
                })
            });

            // Then we replace the index with its corresponding word
            for (const [key, value] of Object.entries(indexWordMap)){
                const regex = new RegExp(key, "gi")
                publicationText = publicationText.replace(regex, value)
            }
            // Replacing each text in the publication element.
            publicationText.split("\n").forEach((newInnerText, i) => {
                publicationBody.innerHTML = publicationBody.innerHTML.replace(oldInnerText.split("\n")[i] ,newInnerText)
            })
        }
    
        function removeHighlightWords(publication) {
            const publicationBody = publication.querySelector(".publication-body")
            const marks = publicationBody.querySelectorAll("mark.highlightWord");
            marks.forEach(mark => {
                publicationBody.innerHTML = publicationBody.innerHTML.replace(mark.outerHTML, mark.innerHTML);
            });
        }

        const allPublications = document.querySelectorAll(".publicationCard");
        const highlightButtons = document.querySelectorAll(".highlightPublicationButton");
        const hideButtons = document.querySelectorAll(".hidePublicationButton");
    
        searchPublicationsInput.addEventListener("change", searchForPublications);
    
        function searchForPublications() {
            const searchText = searchPublicationsInput.value.toLowerCase();
            const searchWords = searchText.split(" ").filter(word => word !== "")

            // Empty searchbar = display all publications
            if(searchWords.length <= 0) return allPublications.forEach(publication => {
                removeHighlightWords(publication)
                publication.style.display = "block"
            })

            allPublications.forEach((publication) => {
                removeHighlightWords(publication)

                const publicationText = publication.innerHTML.toLowerCase();
                const allWordsIncluded = searchWords.every(word => publicationText.includes(word))
                
                if (allWordsIncluded) {
                    publication.style.display = "block";
                    highlightWords(publication, searchWords)
                } else {
                    publication.style.display = "none";
                }
            })
            
        }

        // Highlight and Hide functions for buttons
    
        highlightButtons.forEach((button) => {
            button.addEventListener("click", (event) => {
                event.preventDefault();
                event.stopPropagation();
    
                const publication_id = button.getAttribute("publicationid");
                const publication = button.parentNode.parentNode
                
                const isAlreadyHighlighted = isTrueSet(publication.getAttribute("highlighted"))
                // We want to set the property to the opposite in the layout and in the Database
                const newHighlightValue = !isAlreadyHighlighted
    
                // Dont let the user highlight a 4th publication *Max 3)
                if(newHighlightValue && getHighlightedCount() >= 3) return alert("You can have a maximum of 3 publications highlighted")
    
    
                console.log("setting highlight value to", newHighlightValue)
                startLoading(button)
                disableButtons()
                $.ajax({
                    type: "POST",
                url: "/highlight_publication",
                    data: { publication_id: publication_id, new_highlighted_value: newHighlightValue },
                    success: function (response) {
                            console.log(response);
                            stopLoading(button)
                            enableButtons()
                            changeHighlightInLayout(publication, button, newHighlightValue)
                    },
                    error: function (error) {
                        console.log(error);
                        stopLoading(button)
                        enableButtons()
                        changeHighlightInLayout(publication, button, !newHighlightValue)
                    },
                });
            });
        });
    
        hideButtons.forEach((button) => {
            button.addEventListener("click", (event) => {
                event.preventDefault();
                event.stopPropagation();
    
                const publication_id = button.getAttribute("publicationid");
                const publication = button.parentNode.parentNode
    
                const newVisibilityValue = button.value;
    
                console.log("setting hidden value to", newVisibilityValue)
                startLoading(button)
                disableButtons()
                $.ajax({
                    type: "POST",
                url: "/hide_publication",
                    data: { publication_id: publication_id, new_hidden_value: newVisibilityValue },
                    success: function (response) {
                        console.log(response);
                        stopLoading(button)
                        enableButtons()
                        changeVisibilityInLayout(publication, button, newVisibilityValue)
                    },
                    error: function (error) {
                        console.log(error);
                        stopLoading(button)
                        enableButtons()
                        if (button.value == "false"){
                            button.children[0].style.display = "block";
                        } else {
                            button.children[1].style.display = "block";
                        }
                    },
                });
            });
        });
    
        function changeHighlightInLayout(publication, button, newHighlightValue){
            // Change icons display
            if(newHighlightValue == false){
                publication.setAttribute("highlighted","false")
                button.children[0].style.display = "none"   
                button.children[1].style.display = "block"
            } else {
                publication.setAttribute("highlighted","true")
                button.children[0].style.display = "block"
                button.children[1].style.display = "none"
            }
            prioritizeHighlightedPublications()
            changeTotalHighlightedPublications()
        }
    
        function changeVisibilityInLayout(publication, button, newVisibilityValue){
            // Change icons display and opacity of publication
            if(newVisibilityValue == "false"){
                const parent = button.closest(".my-publication-hidden");
                parent.classList.remove("my-publication-hidden");
                parent.classList.add("my-publication");
                parent.dataset.value = "Shown";
                button.value = true;
                button.children[0].style.display = "none";
                button.children[1].style.display = "block";
            } else {
                const parent = button.closest(".my-publication");
                parent.classList.remove("my-publication");
                parent.classList.add("my-publication-hidden");
                parent.dataset.value = "Hidden";
                button.value = false;
                button.children[0].style.display = "block";
                button.children[1].style.display = "none";
            }
        }
    
        function prioritizeHighlightedPublications(){
            allPublications.forEach((publication) => {
                if(isTrueSet(publication.getAttribute("highlighted"))){
                    highlightedPublicationsContainer.appendChild(publication)
                } else {
                    publicationsContainer.appendChild(publication)
                }
            })  
        }
    
        function disableButtons(){
            hideButtons.forEach((button) => {button.disabled = true})
            highlightButtons.forEach((button) => {button.disabled = true})
        }
    
        function enableButtons(){
            hideButtons.forEach((button) => {button.disabled = false})
            highlightButtons.forEach((button) => {button.disabled = false})
        }
    
        function getHighlightedCount(){
            publicationsArray = Array.from(allPublications)
            highlightedPublications = publicationsArray.filter((publication) => {
                return isTrueSet(publication.getAttribute("highlighted"))
            })
            return highlightedPublications.length
        }
    
        function startLoading(buttonElement){
            buttonElement.children[0].style.display = "none"
            buttonElement.children[1].style.display = "none"
            buttonElement.children[2].style.display = "block"
        }
    
        function stopLoading(buttonElement){
            buttonElement.children[2].style.display = "none"
        }
    
        prioritizeHighlightedPublications()
    })

    //Change the count of highlighted publications
    function changeTotalHighlightedPublications(){
        let highlightedCount = 0
        $('.publicationCard').each(function(){
            let highlighted = $(this).attr("highlighted");
            if (highlighted === "true") {
                highlightedCount++;
            }
        })
        $('#TotalHighlightedPublications').text(highlightedCount + " / 3")
    }
    changeTotalHighlightedPublications()
</script>
