<div class="container">
    <h1 class="title"></h1>
    <div class="content">
        <div class="columns is-multiline">
            <div class="column is-12" id="personalinfo">
                <div class="my-profile">
                    <span id="info" class="sidebar-title">
                        <h5 class="mb-5">
                            {{user.title}} {{user.last_name}}
                            {{user.first_name}}
                        </h5>
                    </span>
                    <figure class="sidebar-image my-2">
                        {% if user.picture is defined and user.picture|length >
                        0 %} {% set profile_url = databaseURL +
                        user.picture[0].url %}
                        <img
                            src="{{ profile_url }}"
                            alt="Image"
                            class="my-img"
                        />
                        {% else %}
                        <img
                            src="{{ url_for('static', filename='defaultPicture.svg') }}"
                            alt="Default Picture"
                            class="my-img"
                        />
                        {% endif %}
                    </figure>
                    <div class="publications-and-mesh-sidebar-info">
                        <div class="publications-sidebar">
                            {% if user.publications is defined and user.publications|length > 0 %}
                            {% set highlighted_publications = user.publications|selectattr('is_highlighted', 'equalto', True)|list %}
                            {% if highlighted_publications|length > 0%}
                                <p class="is-flex is-align-items-center my-1">
                                    <span>Highlighted publications</span> 
                                    <svg id="filledStarLogo" class="image is-16x16 ml-1" viewBox="0 0 24 24" fill="#ffbf00" xmlns="http://www.w3.org/2000/svg" stroke="#000000" >
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                        <g id="SVGRepo_iconCarrier">
                                            <path opacity="0.15" d="M12 17L6 20L7.5 14L3 9L9.5 8.5L12 3L14.5 8.5L21 9L16.5 14L18 20L12 17Z" fill="#000000"></path>
                                            <path d="M12 17L6 20L7.5 14L3 9L9.5 8.5L12 3L14.5 8.5L21 9L16.5 14L18 20L12 17Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                </p>
                                {% for publication in highlighted_publications %}
                                    <a target="_blank" href="https://doi.org/{{publication.doi}}" >
                                        <div class="side-publication">
                                            <span class="side-publication-text is-7" title='{{ publication.title }}'>
                                                {{ publication.title }}
                                            </span>
                                        </div>
                                    </a>
                                {% endfor %}
                            {% endif %}
                            {% endif %}
                        </div>
                        <div class="mesh-sidebar">
                            <p class="my-1">Popular MeSH Terms</p>
                            {% if user.mesh_term_user is defined and user.mesh_term_user|length > 0 %}
                            {% set sort_mesh_terms_user = user.mesh_term_user | sort(attribute='count', reverse=True) %}
                            {% set first_six = sort_mesh_terms_user[:6] %}
                                {% for mesh_term in first_six %}
                                    <div class="mesh-terms-tags">
                                        {{mesh_term["mesh_term"][0]["primaryDisplay"]}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <p class="my-1">Personal Information</p>
                    <div class="sidebar-info">
                        <span
                            class="sidebar-text is-flex is-justify-content-start is-align-items-center my-1"
                        >
                            <svg
                                fill="#000000"
                                class="image is-16x16 mr-2"
                                viewBox="0 0 32 32"
                                version="1.1"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <title>user</title>
                                <path
                                    d="M4 28q0 0.832 0.576 1.44t1.44 0.576h20q0.8 0 1.408-0.576t0.576-1.44q0-1.44-0.672-2.912t-1.76-2.624-2.496-2.144-2.88-1.504q1.76-1.088 2.784-2.912t1.024-3.904v-1.984q0-3.328-2.336-5.664t-5.664-2.336-5.664 2.336-2.336 5.664v1.984q0 2.112 1.024 3.904t2.784 2.912q-1.504 0.544-2.88 1.504t-2.496 2.144-1.76 2.624-0.672 2.912z"
                                ></path>
                            </svg>
                            {{user.username}}
                        </span>
                        <span
                            class="sidebar-text is-flex is-justify-content-start is-align-items-center my-1"
                        >
                            <svg
                                fill="#000000"
                                class="image is-16x16 mr-2"
                                viewBox="0 0 1920 1920"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M1920 428.266v1189.54l-464.16-580.146-88.203 70.585 468.679 585.904H83.684l468.679-585.904-88.202-70.585L0 1617.805V428.265l959.944 832.441L1920 428.266ZM1919.932 226v52.627l-959.943 832.44L.045 278.628V226h1919.887Z"
                                    fill-rule="evenodd"
                                />
                            </svg>
                            {{user.email}}
                        </span>
                        <span
                            class="sidebar-text is-flex is-justify-content-start is-align-items-center my-1"
                        >
                            <svg
                                class="image is-16x16 mr-2"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <rect width="24" height="24" fill="none" />
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M2.14089 4.4021C2.34025 2.92963 3.63956 2 4.99004 2H7.55848C8.84977 2 9.99619 2.82629 10.4045 4.05132L11.454 7.19963C11.905 8.55283 11.1086 10.0036 9.72482 10.3496C9.38646 10.4342 9.26975 10.8555 9.51637 11.1022L12.8978 14.4836C13.1445 14.7303 13.5658 14.6135 13.6504 14.2752C13.9964 12.8914 15.4472 12.095 16.8004 12.546L19.9487 13.5955C21.1737 14.0038 22 15.1502 22 16.4415V19.01C22 20.3604 21.0704 21.6598 19.5979 21.8591C18.9114 21.9521 18.211 22 17.5 22C8.93959 22 2 15.0604 2 6.5C2 5.78898 2.04794 5.08863 2.14089 4.4021Z"
                                    fill="#323232"
                                />
                            </svg>
                            {{user.phone}}
                        </span>
                        <div class="sidebar-item">
                          <label class="my-label">Anrede</label>
                          <p class="my-subtitle">{{user.form_of_address}}</p>
                        </div>
                        <div class="sidebar-item">
                          <label class="my-label">uuid</label>
                          <p class="my-subtitle">{{user.uuid}}</p>
                        </div>
                        <div class="sidebar-item">
                          <label class="my-label">Function</label>
                          <p class="my-subtitle">{{user.function}}</p>
                        </div>
                        <div class="sidebar-item">
                          <label class="my-label">Orcid ID</label>
                          <p class="my-subtitle">{{user.orcid}}</p>
                        </div>
                        <div class="sidebar-item">
                          <label class="my-label">Department</label>
                          <p class="my-subtitle">{{user.department}}</p>
                        </div>
                        <div class="sidebar-item">
                          <label class="my-label">Job title</label>
                          <p class="my-subtitle">{{user.organisation_job}}</p>
                        </div>
                        <div class="multi-item">
                          <label class="my-label">Projects</label>
                          {% for item in user.projects %}
                            <span class="projects-tags">{{item.name}}</span>
                          {% endfor %}
                        </div>
                        <div class="multi-item">
                          <label class="my-label">Organisations</label>
                          {% for item in user.organisations %}
                            <span class="organisations-tags">{{item.name}}</span>
                          {% endfor %}
                        </div>
                        <div class="multi-item">
                          <label class="my-label">FOSA member</label>
                          {% for item in user.fosa %}
                            <span class="fosa-tags">{{item.name}}</span>
                          {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>