<!DOCTYPE html>
<html>

<head>

    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/variables.css">
    <style>
        .navbar-dropdown {
            display: none;
            position: absolute;
            top: 3rem;
            left: 0;
            z-index: 20;
            background-color: #fff;
            border: 1px solid #dbdbdb;
            box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
            padding: 1rem;
        }

        .navbar-item:hover .navbar-dropdown {
            display: block;
        }

        #fixed-button {
            position: fixed;
            bottom: 20px;
            right: 40px;
        }

        .card-hover:hover {
            transform: scale(1.05);
            transition: transform 0.3s e ase-in-out;
        }
    </style>
</head>
<div class="tabs is-centered is-boxed is-medium column mb-1">
    <ul>
        <li data-tab="tab1" class="is-active"><a>Personal Information</a></li>
        <li data-tab="tab2"><a>Publications</a></li>
        <li data-tab="tab3"><a>Mesh-terms</a></li>
    </ul>
</div>
<div class="tab-content column " data-tab="tab1">
    <div class="columns is-multiline">
        <div class="column is-12">
            <section class="section">
                {% include "cv.html" %}
            </section>
        </div>
    </div>
</div>
<div class="tab-content column " data-tab="tab2">
    <div class="columns is-multiline">
        <div class="column is-3">
            <div class="section pr-0">
                {% include "sidebar.html" %}
            </div>
        </div>
        <div class="column is-9">
            <section id="section2" class="section pl-0">
                {% include "publications.html" %}
            </section>
        </div>
    </div>
</div>
<div class="tab-content column is-12" data-tab="tab3">
    <div class="columns is-multiline">
        <div class="column is-3">
            <div class="section pr-0">
                {% include "sidebar.html" %}
            </div>
        </div>
        <div class="column is-9">
            <section id="section3" class="section pl-0">
                {% include "meshterms.html" %}
            </section>
        </div>
    </div>
</div>
<div class="modal" id="cropModal">
  <div class="modal-background"></div>
  <div class="modal-content is-flex is-justify-content-center is-align-items-center is-clipped" style="height: 35vh;width: 35vh">
    <div class="image-cropper">
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
  <button class="button is-primary mt-2" id="uploadPictureButton">Set new profile picture</button>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>match-making extension</strong> here will be some text <a href="#"></a>
            <a href="#">schkja</a>
        </p>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
{# cropper lib to crop profile image #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script>
    function makeEditable() {
        var readonlyInputs = document.querySelectorAll('input[readonly]');
        for (var i = 0; i < readonlyInputs.length; i++) {
            readonlyInputs[i].readOnly = false;
        }
    }
    //new function for tabs 
    $(document).ready(function () {
        // Hide all tab contents except the first one
        $('.tab-content:not(:first)').hide();

        // Handle tab switching
        $('.tabs li').click(function () {
            var tab = $(this).data('tab');

            // Activate clicked tab
            $('.tabs li').removeClass('is-active');
            $(this).addClass('is-active');

            // Show clicked tab content
            $('.tab-content').hide();
            $('.tab-content[data-tab="' + tab + '"]').show();
        });
    });
</script>
{% if not readonly %}
<script>
    const saveUser = document.querySelectorAll(".Buttonsavechanges").forEach((saveUserButton) => {
        saveUserButton.addEventListener("click", (event) => {
            console.log("saving user data")
            event.preventDefault();
            event.stopPropagation();

            const saveTextBtn = document.getElementById("saveTextBtn");
            const loading = document.getElementById("loading");
        
            saveTextBtn.style.display = "none";
            loading.style.display = "block";
            saveUserButton.disabled = true; // disable the button

            let array = $(saveUserButton).closest("form").serializeArray();
            const user_id = '{{user["_id"]}}'
            $.ajax({
            type: "POST",
            url: "/update_user_info",
            data: JSON.stringify({ array: array, user_id: user_id }),
            contentType: 'application/json;charset=UTF-8',
    
            success: function (response) {
                saveTextBtn.style.display = "block";
                loading.style.display = "none";
                saveUserButton.disabled = false;
                console.log(response);
            },
            error: function (error) {
                saveTextBtn.style.display = "block";
                loading.style.display = "none";
                saveUserButton.disabled = false;
                console.log(error);
                alert("Database error");
            },
            });
        });
    });

    // Open modal whenever an upload input gets an image
    var cropper
    document.querySelectorAll('.uploadImageInput').forEach((imageInput) => {
        imageInput.addEventListener('change', function(e) {
            var input = e.target;
            var file = input.files[0];
            var reader = new FileReader();
    
            reader.onload = function(event) {
                var img = new Image();
                img.src = event.target.result;
                
                img.onload = function() {
                    var modal = document.getElementById('cropModal');
                    var modalContent = modal.querySelector('.modal-content');
                    modalContent.innerHTML = '';
                    modalContent.appendChild(img);
                    
                    cropper = new Cropper(img, {
                        aspectRatio: 1, 
                    });
    
                    modal.classList.add('is-active');
    
                    modal.querySelector('.modal-close').addEventListener('click', function() {
                        modal.classList.remove('is-active');
                        cropper.destroy();
                    });
    
                    modal.querySelector('#uploadPictureButton').addEventListener('click', function() {
                        modal.classList.remove('is-active');
                        cropper.destroy();
                    })
                };
            };
    
            reader.readAsDataURL(file);
        });
    })
    
    document.getElementById('uploadPictureButton').addEventListener('click', uploadProfileImage)

    function uploadProfileImage(event) {
        // Disable buttons and loading animation
        pictureButtonLoading()

        // Get cropped Image and upload it
        croppedCanvas = cropper.getCroppedCanvas()
        // Minimum resolution
        if (croppedCanvas.width < 200){
            pictureButtonStopLoading()
            return alert('Profile picture must have a minimum size of 200x200')
        }
        croppedCanvas.toBlob((blob) => {
            // Maximum size
            if (blob.size > 8 * 1024 * 1024){
                pictureButtonStopLoading() 
                return alert('Profile picture must have a maximum size of 8 MB')               
            }

            const format = blob.type.split('/')[1]
            const file = new File([blob], 'avatar.' + format, {type: blob.type})
            const formData = new FormData()
            formData.append('avatar.' + format, file)
            formData.append('user_id', '{{user["_id"]}}')

            const xhr = new XMLHttpRequest();
            xhr.open('post', '/upload_profile_picture', true);
            xhr.onload = function (e) {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Change image to the new one dynamicly
                    $('.my-img').attr('src', croppedCanvas.toDataURL())
                } else {
                    alert('Error uploading the image')
                }
                console.log(xhr.responseText);
                pictureButtonStopLoading()  
            };
            xhr.send(formData); // Send the form data asynchronously
        })
    };

    document.querySelectorAll('.deleteImageInput').forEach((deleteInput) => {
        deleteInput.addEventListener('click', (e) => {
            const userId = e.target.value
            // Disable buttons and loading animation
            pictureButtonLoading()

            $.ajax({
                type: "POST",
                url: "/delete_profile_picture",
                data: {user_id: userId},
                success: (res) => {
                    console.log(res)
                    // Change picture to default automaticly
                    $('.my-img').attr('src', '/static/defaultPicture.svg')    
                },
                error: (err) => {
                    console.log(err)
                }
            }).always(() => {
                // Enable button again
                pictureButtonStopLoading()   
            })
        })
    })

    function pictureButtonLoading(){
        $('.editImageSummary').parent().removeAttr('open');
        $('.editImageSummary').css('pointer-events', 'none')
        $('.editImageSummaryContent').addClass('is-invisible')
        $('.profilePictureLoading').removeClass('is-invisible')        
    }

    function pictureButtonStopLoading(){
        $('.editImageSummary').css('pointer-events', 'auto')
        $('.editImageSummaryContent').removeClass('is-invisible')
        $('.profilePictureLoading').addClass('is-invisible')         
    }

</script>
{%endif%}
</body>

</html>